---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% assign categories = "articles,working-papers,work-in-progress" | split: "," %}

{% for cat in categories %}
  {% assign pubs = site.publications | where: "category", cat %}
  {% if pubs.size > 0 %}
    <h2>
      {% if cat == "articles" %}
        Articles
      {% elsif cat == "working-papers" %}
        Working Papers
      {% elsif cat == "work-in-progress" %}
        Work in Progress
      {% endif %}
    </h2>
    <hr/>

    <ul>
    {% for pub in pubs reversed %}
      <li style="margin-bottom: 1rem;">
        {{ pub.citation }}
        <br/>
        {% if pub.abstracturl %}
          <a href="{{ pub.abstracturl }}">Abstract</a> |
        {% endif %}
        {% if pub.paperurl %}
          <a href="{{ pub.paperurl }}">Download Full Paper</a> |
        {% endif %}
        {% if pub.journalurl %}
          <a href="{{ pub.journalurl }}">Find it in Journal</a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
